<div id="alignment">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
            <h2>Welcome to Contact!!!</h2>
            <form #f="ngForm">
                <img [src]="myimage">
                <br>
                <label>Your Name:</label>
                <input type="text" class="form-control"
                ngModel
                required
                name="username"
                #username="ngModel"
                minlength="1">
                <span class="help-block" *ngIf="!username.valid && username.touched" style="color:red">Please Enter a Valid Name</span>
                <br>
                <button class="btn btn-primary" [disabled]="!f.valid" (click)="onEdit()">Join a Private Room</button> |
               
                <!-- <a routerLink="/privateroom" class="btn btn-link">Create A Private Room</a> -->
                <button class="btn btn-primary" (click)="onPress()" [disabled]="!f.valid">Create A Private Room</button>
                <br>
                <br>
                <div *ngIf="joinroom">
                <input type="text" class="form-control"
                required
                placeholder="PLease Enter Your Link"
                ngModel
                name="customlink"
                #customlink="ngModel"

                >
                <span class="help-block" *ngIf="!customlink.valid && customlink.touched" style="color:red">Please Enter a Valid User Name</span>
                <br>
    

                <button class="btn btn-primary" [disabled]="!f.valid">Let's Go</button> 
              </div>  
              <div *ngIf="createroom">
                <input type="text" class="form-control"
                ngModel
                name="customlink"
                #customlink="ngModel"
                >
                <br>
    

                <button class="btn btn-primary" [disabled]="!f.valid">Let's Go</button> | 
                <button class="btn btn-primary" [disabled]="!f.valid">Share With A Friend</button> 
              </div>  
            </form>

        
    </div>
  </div>
</div>
</div>
